Click==7.0
Flask==1.0.2
Flask-Cors==3.0.7
future==0.17.1
GitPython==2.1.11
gmaps==0.8.4
google-api-core==1.14.3
google-auth==1.9.0
google-auth-oauthlib==0.4.1
google-cloud-bigquery==1.8.1
google-cloud-core==1.1.0
google-cloud-storage==1.23.0
google-pasta==0.1.7
google-resumable-media==0.5.0
googleapis-common-protos==1.6.0
gunicorn==20.0.4
h5py==2.9.0
html5lib==0.9999999
importlib-metadata==0.0.0
itsdangerous==1.1.0
Jinja2==2.10
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.0.9
MarkupSafe==1.1.1
matplotlib==3.0.3
ninja==1.9.0.post1
numba==0.43.1
numexpr==2.6.9
numpy==1.16.3
numpydoc==0.8.0
oauthlib==3.1.0
pandas==0.24.2
pandocfilters==1.4.2
path.py==11.5.0
pathlib2==2.3.3
pickleshare==0.7.5
pkginfo==1.5.0.1
plotly==3.4.2
pyOpenSSL==19.0.0
requests==2.21.0
requests-oauthlib==1.2.0
seaborn==0.9.0
tensorboard==2.0.2
tensorboardX==1.2
tensorflow==2.0.0
tensorflow-estimator==2.0.1
tensorflow-estimator-2.0-preview==1.14.0.dev2019071400
tf-nightly-2.0-preview==2.0.0.dev20190714
urllib3==1.24.1
wget==3.2
Werkzeug==0.15.6
WTForms==2.2.1
