Click==7.0
Flask==1.0.2
Flask-Cors==3.0.7
future==0.17.1
gunicorn==20.0.4
h5py==2.9.0
itsdangerous==1.1.0
Jinja2==2.10
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.0.9
MarkupSafe==1.1.1
ninja==1.9.0.post1
numpy==1.16.3
pandas==0.24.2
path.py==11.5.0
pathlib2==2.3.3
pickleshare==0.7.5
requests==2.21.0
requests-oauthlib==1.2.0
https://files.pythonhosted.org/packages/3f/98/5a99af92fb911d7a88a0005ad55005f35b4c1ba8d75fba02df726cd936e6/tensorflow-1.15.0-cp36-cp36m-manylinux2010_x86_64.whl
urllib3==1.26.5
wget==3.2
Werkzeug==0.15.6
WTForms==2.2.1
