<!DOCTYPE html>
<html>

<head>
  <title>Finding CPC Labels</title>
  <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
  <div class="container">
    <h1>
      <center>Finding CPC labels for Patent Abstracts</center>
    </h1>

    {% block content %}
    {% for message in form.abstract.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

    <form method=post>

      {{ form.abstract.label }}
      {{ form.abstract }}

      {{ form.submit }}
    </form>
    {% endblock %}

  </div>
</body>

</html>

